.Input-Form{
    background: var(--cor-secundaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}
.Input-Form-Temp{
    background: var(--cor-secundaria);
    padding: 10px;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    font-size: 19px;
    outline: none;
}
.Input-Form:focus,
.Input-Form-Temp:focus
{
    outline: none; /* Remove o contorno padrão ao focar */
    border-color: lighten(var(--cor-primaria), 87%); /* Muda a cor da borda ao focar */
    box-shadow: 0 0 5px lighten(var(--cor-primaria), 60%); /* Adiciona uma sombra ao focar */
}
